/* for movies and Tag later */

/* For Tag */
.tag {
  color: var(--color-white);
  font-size: 12px;
  background-color: var(--color-dark-gray);
  border: 1px;

}

.tag-selected {
  background-color: var(--color-light-red);
}

.movie-card-li {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* For Filter */
.filter {
  display: flex;
  justify-content: space-between;  
}

.filter-input {
  width: 50%;
  display: flex;
}

/* For Movie Card*/
.movie-card-info img {
  width: 100%;
  height: 15rem;
  object-fit: cover;
}

.movie-info {
  margin-top: -4rem;
  background-color: var(--color-dark-gray);
  height: 10rem;
}
