/* for movies and Tag later */

/* For Tag */
.tag {
  color: var(--color-white);
  font-size: 12px;
  background-color: var(--color-dark-gray);
  border: 1px;

}

.tag-selected {
  background-color: var(--color-light-red);
}

.movie-card-li {
  margin-top: 10px;
  margin-bottom: 10px;
}
/* For Filter */
.filter {
  display: flex;
  justify-content: space-between;  
}
  
.filter-search-bar {
  /* Add your styles here */
}

.filter-input {
  width: 50%;
  display: flex;
}

.filter-select {
  /* Add your styles here */
}

