/* This will hold styles for sidebar */

.header-nav {
  background-color: var(--color-black);
  color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sidebar {
  background-color: var(--color-dark-red);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  transition: width 0.5s;
  width: 50px;
}

.navigation-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar.open .nav-item {
  justify-content: flex-start;
}

.sidebar.open .nav-item .fa-icon {
  margin-right: 10px;
}

.arrow-icon {
  position: absolute;
  right: 10px;
  visibility: hidden;
}

.nav-item.selected {
  background-color: var(--color-light-red);
}

.nav-item {
  align-items: center;
  color: var(--color-white);
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 20px;
  position: relative;
}

.nav-item.selected {
  background-color: var(--color-light-red);
}

.nav-item span {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  visibility: hidden;
  white-space: nowrap;
}

.icon {
  margin-right: 10px;
}

.logout {
  color: var(--color-dark-red);
  cursor: pointer;
}

.header {
  color: var(--color-black);
  display: flex;
  justify-content: space-between;
  
}
